<div class="header bg-white pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-1">
                <div class="col-lg-6 col-7">
                </div>
                <div class="col-lg-6 col-5 text-right">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6 bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body text-center" >
                           <div style="padding: 25px 0;border: 2px solid #525F7F;border-style: dashed;font-size: 22px;">
                               <i class="fa fa-plus"></i> New Project
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">628972907027</h5>
                                    <span class="h2 font-weight-bold mb-0 text-uppercase">Project One</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape rounded-circle shadow">
                                        <i class="fa fa-whatsapp" style="font-size: 35px"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm text-right">
                                <span class="text-nowrap">On Running ..</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
