.list-user{
    width: 195px;
    position: relative;
    padding: 4px 8px;
    padding-left: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(235, 237, 239);
    border-radius: 4px;
    user-select: none;
}
.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active {
    background-color: rgb(255, 255, 255);
    border-right: 3px solid #9ea2a5;
    border-radius: 1px;
    border-spacing: 5px 0;
    margin-right: 1px;
    color: #4E37B2;
    font-weight: 600;
}

.navbar-nav > .nav-item > .nav-link > i{
    font-size: 18px;
}

.bg-primary{
    background: #5D21D2 !important;
}


.btn-primary{
    background: #5D21D2 !important;
}

.text-color-theme{
    color: #9ea2a5;
}

.box-area{
    width: 228px;
    height: 228px;
}

#qrcode{
    display: none;
}

#card-barcode{
    display: none;
}

#group-menu-project{
    display: none;
}

#placeholder-table{
    display: none;
}

#placeholder{
    display: none;
}

.list-group-item.active {
    border-color: #5D21D2;;
    background-color: #5D21D2;;
}


#card-info-device{
    display: none;
}
