<!-- Modal -->
<div id="modal-add-project" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                   <div class="col-md-12">
                       <form action="#" method="post">
                           <input type="hidden" name="media_id" value="">
                           <input type="hidden" name="user_id" value="">
                           <div class="form-group has-error">
                               <label>Name Project</label>
                               <input type="text" name="name" class="form-control">
                           </div>
                           <div class="form-group">
                               <label>Number Phone</label>
                               <input type="text" name="phone" class="form-control">
                           </div>
                           <div class="form-group text-right">
                               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                               <button type="button" id="btn-add-project" class="btn btn-primary">Create</button>
                           </div>
                       </form>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
