<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/js-cookie/js.cookie.js"></script>
<script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.min.js"
        integrity="sha512-/WwtKR6NnHomLo0O4w9QKc1INTPEJs7ko6u2aBTA1paPldhPl8LtXsi7a35iEZ69+9P5dcgVNESG8hrP4Y2t3w=="
        crossorigin="anonymous"></script>
<!-- Optional JS -->
<script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script src="assets/js/argon.js?v=1.2.0"></script>

<script>
    $(document).ready(function () {
        var socket = io.connect('http://localhost:3000', {path: '/socket.io'});

        socket.on('message', function (msg) {
            console.log(msg);
        });

        socket.on('qr', function (src) {
            $('#card-barcode').css("display","block");
            $(".box-area").css("display","none");
            $('#qrcode').css("display","block");
            $('#qrcode').attr('src', src);
            $(".barcode > .info").text("Barcode Scan Please!")
        });

        socket.on('ready', function (data) {
            $(".barcode").css("display","none");
            $('#card-barcode').css("display","none");
        });

        socket.on('authenticated', function (data) {
            $('#card-barcode').css("display","none");
        });

        socket.on("disconnected",function (data){
            $('#card-barcode').css("display","block");
        });

        $(".dropdown-toggle").click(function (e) {
            e.preventDefault();
            $("#select-project").hasClass("show") ? $("#select-project").removeClass("show") : $("#select-project").addClass("show");
        });

        $(".project").click(function (e) {
            const projectId = $(this).data("project_id");
            const projectName = $(this).data("project_name");
            $("#modal-add-project").modal('show');
            $("#modal-add-project h5.modal-title").html("New " + projectName + " Project");
            $("input[name='media_id']").val(projectId);
            $("input[name='user_id']").val(<%= user.id %>);
        });

        $("#btn-add-project").click(function () {
            const name = $("input[name='name']").val();
            const phone = $("input[name='phone']").val();
            if(name !== "" && phone !==""){
                const data = {
                    name: $("input[name='name']").val(),
                    phone:$("input[name='phone']").val(),
                    user_id: $("input[name='user_id']").val(),
                    media_id: $("input[name='media_id']").val()
                }
                $.ajax({
                    url: "/project/new",
                    method: "post",
                    headers: {token:`<%= token %>`},
                    data: data,
                    success: function (success) {
                        $("#modal-add-project").modal('hide');
                        $("input[name='name']").val("");
                        getProject();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }else{

            }

        });

        function getProject(){
            $.ajax({
                url:`/project/all/<%= user.id %>`,
                headers: {token:`<%= token %>`},
                success: function (success) {
                    for(p of success.project){
                        $("#list-project").append(`<li class="nav-item">
                            <a class="nav-link " href="/project/${p.slug}">
                                <i class="${p.medium.icon} text-color-theme"></i>
                                <span class="nav-link-text">${p.name}</span>
                                <hr class="my-2">
                            </a>
                        </li>`);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        getProject();
    });
</script>
