<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" style="background: #fff" href="/">
                <img src="assets/img/brand/logo.png" class="navbar-brand-img" alt="...">
                <!-- <h2 style="margin-left: 0;text-align: left;"><div style="font-weight: bold;">Dream</div> Circle</h2> -->
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="dropdown dropdown" aria-haspopup="true" class="" aria-expanded="true">
                        <a href="" class="btn dropdown-toggle btn-primary"
                           style="margin: 0 8px;width: calc(100% - 16px);">
                            <i class="fa fa-plus text-white"></i> New
                        </a>
                        <ul class="dropdown-menu" id="select-project"
                            style="margin: 0 8px;width: calc(100% - 16px); position: absolute">
                            <% media.forEach(function (m) { %>
                                <li class="text-left project" data-project_id="<%= m.id %>"
                                    data-project_name="<%= m.name %>">
                                    <a href="#" class="dropdown-item">
                                        <i class="<%= m.icon %> text-primary"></i><%= m.name %>
                                    </a>
                                </li>
                            <% }); %>
                        </ul>
                    </li>
                </ul>
                <br>
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Main Project</span>
                </h6>
                <ul class="navbar-nav" id="list-project"></ul>
                <br>
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Main Bot Studio</span>
                </h6>
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/member">
                            <i class="ni ni-satisfied text-color-theme"></i>
                            <span class="nav-link-text">Members</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/flow">
                            <i class="ni ni-vector text-color-theme"></i>
                            <span class="nav-link-text">Flow</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/module">
                            <i class="ni ni-ui-04 text-color-theme"></i>
                            <span class="nav-link-text">Modules</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analytics">
                            <i class="ni ni-spaceship text-color-theme"></i>
                            <span class="nav-link-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">
                            <i class="ni ni-settings text-color-theme"></i>
                            <span class="nav-link-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
