<script>
    $(() => {
        $("#btn-add-messages").click(function (e) {
            e.preventDefault();
            $("#modal-send-messages").modal({backdrop: 'static', keyboard: false});
            $("#modal-send-messages input").val("");
            $("#modal-send-messages textarea").val("");
        });

        $("#btn-send").click(function (e) {
            e.preventDefault();
            const phone_number = $("#modal-send-messages input[name='phone_number']").val();
            const messages = $("#modal-send-messages textarea[name='messages']").val();

            $.ajax({
                url: '/message/create',
                method: 'POST',
                data: {phone_number: phone_number, messages: messages},
                headers: {token: `<%= token %>`},
                success: function (data) {
                    const {status} = data;
                    if (status == "success") {
                        $("#modal-send-messages").modal("hide");
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });

        $("#add-module").click(function () {
            const flow_name = $("input[name='modules_name']");
            if (flow_name.val() != '') {
                $("#table-module tbody").append(`<tr><td>${flow_name.val()}</td></tr>`);
                flow_name.val("")
            }
        });
        $("#btn-add-module-form").click(function () {
            const total = $("table#table-module-form tbody tr").length;
            $(`table#table-module-form tbody tr:nth-child(${total})`).before(`<tr> <td> <input type="text" class="form-control" placeholder="Module"> </td> <td width="25%"> <input type="number" class="form-control" placeholder="Key"> </td> <td class="text-center"> <button class="btn btn-danger btn-sm btn-remove-module-form" type="button"><i class="fa fa-trash"></i></button> </td> </tr>`);
        });
        $("#table-module-form").on("click", "tr .btn-remove-module-form", function(e) {
            $(this).parents("tr").remove();
            console.log($(this).parents("tr").index());
        });
    });
</script>
