<div class="card">
    <div class="card-body" style="height: 450px">
        <form action="">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name_flow" placeholder="Name Flow" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="conversation" placeholder="Conversation" class="form-control" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="module_name"
                                       placeholder="Module" aria-label="Module Name"
                                       aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" id="add-module" type="button"><i
                                                class="fa fa-plus"></i></button>
                                </div>
                            </div>

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>Key</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control"></td>
                                        <td>
                                            <input type="number" class="form-control" placeholder="Key">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

