<div class="card">
    <div class="card-body" style="height: 450px">
        <form action="">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group">
                                <textarea name="conversation" placeholder="Conversation" class="form-control" id=""
                                          cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12 col-lg-6">

                            <table id="table-module-form" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>Key</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <div class="list-form">
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Module">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" placeholder="Key">
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-danger btn-sm btn-remove-module-form" id="module" type="button"><i
                                                        class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </div>
                                <tr>
                                    <th colspan="2">Add Module</th>
                                    <td colspan="1" class="text-center">
                                        <button class="btn btn-primary btn-sm" id="btn-add-module-form" type="button"><i
                                                    class="fa fa-plus"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

