<div class="row">
    <div class="col-md-12">
        <div class="row" id="placeholder-table">
            <div class="col-md-12">
                <div class="ph-item">
                    <div class="ph-col-12">
                        <div class="ph-picture"></div>
                        <div class="ph-row">
                            <div class="ph-col-12 big"></div>
                            <div class="ph-col-12 big"></div>
                            <div class="ph-col-12 big"></div>
                            <div class="ph-col-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="group-menu-project">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Live Chat</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" id="btn-add-messages"
                               class="btn btn-sm btn-primary">Send Messages</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table id="live-chat" class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">From Number</th>
                            <th scope="col">To Number</th>
                            <th scope="col">Messages</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
