<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form action="#">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="module_name"
                               placeholder="Module Name" aria-label="Module Name"
                               aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" id="add-module" type="button"><i
                                        class="fa fa-check"></i></button>
                        </div>
                    </div>
                </form>
                <table id="table-module" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>List Module</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
