<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">
            <%= project_detail.name %>
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-title">Selamat Datang </h5>
                    <p>Anda dapat mendesain asisten virtual untuk dapat berkomunikasi secara personal dan interaktif
                        dengan konsumen Anda. Bahkan memberikan rekomendasi produk pada pelanggan potensial. Asisten
                        virtual kami dapat mengotomatisasi proses layanan konsumen untuk berbagai industri, Anda juga
                        dapat lebih menghemat biaya operasional perusahaan, Anda Bisa mengirimkan Banyak pesan dengan 1
                        klik.
                    </p> 
                    <br>
                    
                    <div class="row" id="placeholder-table">
                        <div class="col-md-12">
                            <div class="ph-item">
                                <div class="ph-col-12">
                                    <div class="ph-picture"></div>
                                    <div class="ph-row">
                                        <div class="ph-col-12 big"></div>
                                        <div class="ph-col-12 big"></div>
                                        <div class="ph-col-12 big"></div>
                                        <div class="ph-col-12"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="placeholder">
                        <div class="col-md-6">
                            <div class="ph-item">
                                <div class="ph-col-12">
                                    <div class="ph-picture"></div>
                                    <div class="ph-row">
                                        <div class="ph-col-12 big"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="card-barcode" class="container-fluid bg-white">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <div class="barcode">
                                    <img id="qrcode" src="" style="width: 228px;height: 228px;" width="228" height="228"
                                        alt="Barcode">
                                    <h6 class="card-subtitle mb-2 text-muted text-center info">Loading ...</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="group-menu-project">
                        <h5 class="card-title">Live Messages </h5>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Create FLow</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Flows</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Messages</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" id="btn-add-messages" class="btn btn-primary text-right"> Send</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Member</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Members</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Module</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" id="btn-add" class="btn btn-primary text-right">Module</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Settings</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" id="btn-add" class="btn btn-primary text-right">Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>