<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" style="background: #fff" href="javascript:void(0)">
                <img src="assets/img/brand/logo.png" class="navbar-brand-img" alt="...">
                <!-- <h2 style="margin-left: 0;text-align: left;"><div style="font-weight: bold;">Dream</div> Circle</h2> -->
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="dropdown dropdown" aria-haspopup="true" class="" aria-expanded="true">
                        <a href="#" class="btn dropdown-toggle btn-primary" style="margin: 0 8px;width: calc(100% - 16px);">
                            <i class="fa fa-plus text-white"></i> Add Project
                        </a>
                        <ul class="dropdown-menu" id="select-project" style="margin: 0 8px;width: calc(100% - 16px); position: absolute">
                            <li class="text-left">
                                <a href="#" class="dropdown-item">
                                    <i class="fa fa-whatsapp text-primary"></i>WhatsApp
                                </a>
                            </li>
                            <li class="text-left">
                                <a href="#" class="dropdown-item">
                                    <i class="fa fa-telegram text-primary"></i>Telegram
                                </a>
                            </li>
                            <li class="text-left">
                                <a href="#" class="dropdown-item">
                                    <i class="fab fa-facebook-messenger text-primary"></i>Facebook
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <br>
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Main Project</span>
                </h6>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/project/whatsapp/app-bot-giros">
                            <i class="fab fa-whatsapp text-white"></i>
                            <span class="nav-link-text">App Bot (Pt Giros)</span>
                            <hr class="my-2">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project/facebook-messages/app-bot-giros">
                            <i class="fab fa-facebook-messenger text-primary"></i>
                            <span class="nav-link-text">App Bot (Pt Giros)</span>
                            <hr class="my-2">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project/telegram/app-bot-giros">
                            <i class="fab fa-telegram text-primary"></i>
                            <span class="nav-link-text">App Bot (Pt Giros)</span>
                            <hr class="my-2">
                        </a>
                    </li>
                </ul>
                <br>
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Main Configuration</span>
                </h6>
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/member">
                            <i class="ni ni-satisfied text-primary"></i>
                            <span class="nav-link-text">Members</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/flow">
                            <i class="ni ni-vector text-primary"></i>
                            <span class="nav-link-text">Flow</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/module">
                            <i class="ni ni-ui-04 text-primary"></i>
                            <span class="nav-link-text">Modules</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/analytics">
                            <i class="ni ni-spaceship text-primary"></i>
                            <span class="nav-link-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">
                            <i class="ni ni-settings text-primary"></i>
                            <span class="nav-link-text">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
